name: Build and Push to AWS ECR

on:
    push:
        branches: ["main"]

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: eu-north-1 # Din region

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v1

            - name: Build, tag, and push image to Amazon ECR
              env:
                  ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                  ECR_REPOSITORY: inventory-tracker-app # Namnet på ditt ECR-repo
                  IMAGE_TAG: ${{ github.sha }}
              run: |
                  docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
                  docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest .
                  docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
                  docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

            - name: Update Config Repo
              run: |
                  git config --global user.email "teehit-bot@teehit.com"
                  git config --global user.name "TeeHit Bot"

                  # 1. Klona mitt nya CONFIG-repo
                  git clone https://${{ secrets.GITOPS_PAT }}@github.com/TeeHit101/inventory-tracker-config.git config-repo

                  cd config-repo

                  # 2. Uppdatera image-taggen för min Python-app
                  # Vi letar efter min image i ECR och byter ut taggen till det aktuella SHA-värdet
                  sed -i "s|inventory-tracker-app:.*|inventory-tracker-app:${{ github.sha }}|g" apps/inventory-app/deployment.yaml

                  # 3. Committa och pusha ändringarna
                  if [[ -n $(git status -s) ]]; then
                    git add .
                    git commit -m "GitOps: Update image to ${{ github.sha }}"
                    git push
                    echo "Config repo updated successfully!"
                  else
                    echo "No changes detected in config repo."
                  fi
